@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
    font-family: 'Dancing Script', cursive;
    margin: 0px;
    /* background-color: rgb(255, 230, 230); */
}

.header {
    background-color: rgb(255, 128, 128);
    text-align: center;
    margin: auto;
    padding: 1rem;
}


#txt-input {
    width: 80%;
    height: 10vh;
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    text-align: center;
}

.button {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  
}

#btn-translate {
    background-color: rgb(255, 128, 128);
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
    padding: 1rem;
}

.text {
    text-align: center;
}

#output {
    border: 1px solid black;
    height: 10vh;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    width: 80%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.foot {
    text-align: center;
    background-color: rgb(255, 128, 128);
    font-size: larger;
}

.foot p {
    max-width: 600px;
    margin: auto;
    
}





